<% layout("/layouts/boilerplate") %> 

<div class="container">
  <h3>All Listings</h3>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing && listing._id %>" class="listing-link">
        <div class="card col">
          <img 
            src="<%= (listing && listing.image && listing.image.url) ? listing.image.url : (listing && typeof listing.image === 'string' && listing.image) ? listing.image : 'https://placehold.co/600x400?text=No+Image' %>" 
            class="card-img-top" 
            alt="listing_image" 
            style="height: 20rem"
            onerror="this.onerror=null;this.src='https://placehold.co/600x400?text=No+Image';"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <b><%= listing && listing.title ? listing.title : 'Untitled' %></b>
            <div>
              &#8377;<%= (listing && listing.price != null) ? listing.price.toLocaleString("en-IN") : 'N/A' %> <br />


            </div>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</div>






